.login_pageCtrl {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto;      
    
    a:link,
    a:visited {
        text-decoration: none;
        color: @primColorDark;
    }
    
    a:hover {
        text-decoration: none;
        color: @primColorLight;
    }
    
    .page-row {
        margin: auto;
        width: 100%;
        padding: 5px 0;
        display: flex;
        justify-content: center;
    }

    .page-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.14);
        box-shadow: 5px 5px 5px rgba(103, 103, 103, 0.24);
    }
    
    .company-logo {
        min-width: 300px;
        height: 100px;
        background-image: url('@{companyLogoUrl}');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 15px 0;
    }
    
    .field-container {
        display: flex;
        align-items: center;
        width: 75%;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;        
    }
    
    .icon-container {
        border-right: 1px solid #ccc;
        
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .field-icon {
        width: 20px;
        margin: 0 5px;
        font-size: 20px;
        color: @primColorDark;  
        text-align: center;
    }
    
    .login-field {
        flex-grow: 1;
        border: none;
    }
    
    .checkbox-container {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 15px 0;
    }
    
    .link-container {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }    
    
    .login-result {
        height: 50px;
        margin-bottom: 25px;
    }
    
    .cf-main-error {
        color: #e74c3c;
    }
    
    .btn {
        width: 75%;
        background-color: @primColorDark;
        border-color: @primColor;
    }
    
    .btn:hover {
        background-color: @primColor;
    }

    .spinner {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;

      -webkit-animation: sk-rotate 2.0s infinite linear;
      animation: sk-rotate 2.0s infinite linear;
    }

    .dot1, .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: @secColor;
      border-radius: 100%;

      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
      top: auto;
      bottom: 0;
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
    @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

    @-webkit-keyframes sk-bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bounce {
      0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
}
}

