<div ng-controller="login_pageCtrl" class="login_pageCtrl" >
	<div class="page-row row">       
        <div class="page-wrapper col-xs-12 col-sm-8 col-md-6 col-lg-4">
           
            <div class="user-out-box" ng-if="!user.isAuthenticated" ng-enter="validateInputs() ? $timeout(login,1000) : ''">

                <h1 class="cf-box-pagetitle">Bejelentkezés</h1>
                <div class="company-logo"></div>            

                <div class="field-container">
                    <div class="icon-container">
                        <i class="ion-person field-icon"></i>
                    </div>
                    <input type="text" id="userNameInput" placeholder="Felhasználónév" ng-model="$parent.fh" class="login-field form-control" ng-focus="scrollTo('userNameInput')" ng-required="true">
                </div>
                <div class="field-container">
                   <div class="icon-container">
                        <i class="ion-key field-icon"></i>
                    </div>
                    <input type="password" id="userPasswordInput" placeholder="Jelszó" ng-model="$parent.jsz" class="login-field form-control" ng-focus="scrollTo('userPasswordInput')">
                </div>

                <div class="checkbox-container">
                    <input type="checkbox" id="isDomainUser" class="cf-checkbox" ng-model="$parent.isDomain">
                    <label for="isDomainUser">Tartományi felhasználó?</label>
                    <a href="#/forgottenpw">Elfelejtett jelszó?</a>
                </div>

                <button class="btn cf-primary" ng-click="validateInputs() ? $timeout(login,1000) : ''">Belépés</button>

                <div class="link-container">
                    <a href="#/forgotpassword">Új felhasználó? <strong>Regisztráció</strong></a>
                </div>

                <div class="login-result">
                    <p class="cf-main-error" ng-show="loginError">{{errorMessage}}</p>       
                    <div class="cf-spinner" ng-show="showLoading">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                    </div> 
                </div>     

            </div>
            
            <div class="user-in-box" ng-if="user.isAuthenticated">
               
                <h3 class="cf-label">Bejelentkezett felhasználó:</h3>
                <h4 class="user-name-label">{{user.fullname}}</h4>
                
                <button class="btn cf-primary logout-btn" ng-click="logout()">Kijelentkezés</button>
                
            </div>
            
        </div>
        
    </div>
         
</div>
