<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta id="viewport" name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1, minimum-scale=1" />

       <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
        
        <!-- Kendo Style -->
        <link href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" rel="stylesheet">
        <link href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" rel="stylesheet">
        <link href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" rel="stylesheet">
        
        <!-- Custom styles -->
        <link href="resources/css/style.css" type="text/css" rel="stylesheet">        

        <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
       
        <!-- Angular -->
        <script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.4.6/angular-sanitize.min.js"></script>
        
        <!-- Kendo UI -->        
        <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
       
        <title>Angular Template</title>
 
    </head>
    <body ng-controller="appCtrl">
        <div class="cf-header">
            <div class="navbar-btn-container">
                <div class="navbar-btn" ng-click="toggleMobileNavBar()"><i class="ion-navicon-round"></i></div>
            </div>            
            <div class="cf-header-content" ng-include="'/resources/subpages/cfHeaderContent/cf_header_content.html'"></div>
        </div>
        <div class="cf-content" ng-class="showMobileNavBar ? 'show-shadow' : ''">
            <div class="cf-navigation" ng-include="'/resources/subpages/cfNavigation/cf_navigation.html'" ng-class="{'show': showMobileNavBar, 'minify': minLeftNav}" ng-show="showLeftNav"></div>
            <div class="cf-viewport" ng-view ng-click="showMobileNavBar ? toggleMobileNavBar() : ''"></div>
        </div>
        <div class="cf-footer" ng-show="cfFooter">           
        </div>


    </body>
    <script src="resources/js/app.config.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/subpages/cfNavigation/cf_navigation.js"></script>
    <script src="resources/subpages/cfHeaderContent/cf_header_content.js"></script>
    <script src="resources/subpages/cfLoginPage/login_page.js"></script>
    <script src="resources/subpages/cfForgottenPw/cf_forgotten_pw.js"></script>
    <script src="resources/subpages/cfAdminPage/cf_admin_page.js"></script>
    <script src="resources/subpages/cfRegistrationPage/registration_page.js"></script>

</html>