<div ng-controller="registration_pageCtrl" class="registration_pageCtrl">
    <div class="page-row row">
        <div class="page-wrapper col-xs-12 col-sm-12 col-md-8 col-lg-6">
            <div class="cf-pagetitle">
                Regisztráció
            </div>
            <form class="content" name="myForm">
                 
                <div class="field-container" ng-repeat="userField in userFields">                    
                    <label for="{{'reg_field_' + $index}}" class="cf-field-label">{{userField.title}}:<span class="cf-required-star">*</span></label>
                    <div class="input-container">
                        <div class="input-field">
                            <input type="{{userField.type}}" ng-model="userField.value" id="{{'reg_field_' + $index}}" class="cf-inputfield form-control" ng-change="resetResult(userField); userField.onChange ? userField.validate() : ''" >                        
                            <div class="validation-icon">
                                <i class="" ng-class="userField.isValid ? 'ion-checkmark-circled result-success' : 'ion-close-circled result-wrong'" ng-show="userField.iconShow"></i>
                            </div>
                        </div>                            
                        <div class="validation-message">{{userField.validationMessage}}</div>    
                    </div>
                </div>
                
                
                <div class="cf-spinner" ng-show="showLoading">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                </div>
                <p class="registrationResult" ng-class="regResult ? 'result-success' : 'result-wrong'">{{regResultMessage}}</p>   
                <div class="buttons">
                    <button class="btn btn-info" ng-click="registration()">Regisztrálok</button>
                    <button class="btn btn-default">Mégse</button>
                </div>
                             
            </form>        
        </div>
    </div>
</div>
