<div ng-controller="registration_pageCtrl" class="registration_pageCtrl">
    <div class="page-row row">
        <div class="page-wrapper col-xs-12 col-sm-12 col-md-8 col-lg-6">
            <div class="cf-pagetitle">
                Regisztráció
            </div>
            <form class="content" name="myForm">
               <div class="row">
                <div ng-repeat="formElement in formElements" class="{{ formElement.divClass }}">
                    <label for="{{ formElement.inputID }}" class="cf-field-label col-lg-5 col-md-5 col-sm-5 col-xs-12">{{ formElement.labelText }}:<span class="cf-required-star">*</span></label>
                    <input type="{{ formElement.inputType }}" ng-model="user[formElement.inputID]" ng-change="validationInputText(user[formElement.inputID]) || validationInputText1(user[formElement.inputID]) || validationInputText2(user[formElement.inputID])" id="{{ formElement.inputID }}" required class="cf-inputfield col-lg-6 col-md-6 col-sm-6 col-xs-10">
                    <i class="ion-information-circled col-lg-1 col-md-1 col-sm-1 col-xs-1" data-toggle="tooltip" title= "{{ formElement.infoText }}"></i>                    
                    <p class="cf-field-error col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="user[formElement.inputWarning]" id="{{ formElement.inputWarning }}">
                        <b ng-if="(user[formElement.inputID] === user.reg_password_input)"> {{userPasswordstrength}}</b>
                        <b ng-if="(user[formElement.inputID] === user.reg_email_input) || (user[formElement.inputID] === user.reg_email_again_input)">{{valueWarningMessagesEmail}}</b>
                        <b ng-if="(user[formElement.inputID] === user.reg_password_input) || (user[formElement.inputID] === user.reg_password_again_input)"><br>{{valueWarningMessagesPassword}}</b>
                    </p>
                </div>
                </div>
                <div class="msg-block">{{valueWarningMessages}}</div>
                 
                <!--
                <div id="password_strength_meter" ng-if="user.reg_password_input">
                <b> {{userPasswordstrength}}</b>   
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{valueProgressBar}}" aria-valuemin="0" aria-valuemax="4" style="width:{{valueProgressBarWidth}}%; background:{{valueProgressBarBackgroundColor}}">{{valueProgressBarWidth}}%</div>
                    </div>
                </div>
                -->
                <div class="cf-spinner" ng-show="showLoading">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                </div>
                <div class="buttons">
                    <button class="btn btn-info" ng-click="registration()">Regisztrálok</button>
                    <button class="btn btn-default col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-2">Mégse</button>
                </div>
                <b class="RegistrationSuccesText">{{RegistrationSucces}}</b> 
                <b class="RegistrationErrorText">{{RegistrationError}}</b> 
                
            
            </form>        
        </div>
    </div>
</div>
