
.cfHeaderContentCtrl {
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    
    .header-company-logo {
        min-width: 200px;
        height: 60px;
        background-image: url('@{companyLogoUrl}');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 15px 0;
    }
    
    .drop-down {
        position: relative;
        background-color: @secColor;
        border-radius: 5px;
        height: 40px;
        min-width: 150px;
        padding: 0 10px;
        margin: 0;
    }
    
    .drop-down-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: 100%;
        width: 100%;
        font-weight: 500;
    }
    
    .drop-down-btn i {
        font-size: 18px;
        margin: 0px 5px;
    }
    
    .drop-down-content {
        position: absolute;
        z-index: 402;
        max-height: 0px;
        overflow: hidden;
        width: 300px;
        top: 45px;
        right: 0;
        transition: all 0.3s;
    }
    
    .arrow-box {
        position: relative;
        margin-top: 15px;
        background-color: @primColorDark;
        border-radius: 5px;
    }
    
    .arrow-box:before {
        position: absolute;
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid @secColor;
        top: -15px;
        right: 20px;
    }
    
    
    .show {
        max-height: 600px;
    }
    
    .company-logo,
    .cf-box-pagetitle {
        display: none;
    }
    
    .page-wrapper {
        width: 95%;
    }
    
    
    .checkbox-container {
        flex-direction: column;
    }
    
    .drop-down-menu {
        width: 95%;
        margin: auto;
    }
    .drop-down-menu a:link,
    .drop-down-menu a:visited {
        display: block;
        color: @fontColorLight;
        text-decoration: none;
    }
    .drop-down-menu li {
        color: @fontColorLight;
        font-size: 18px;
        padding: 7px 5px;
        border-bottom: solid 0.5px rgba(154, 168, 172, 0.36);
        cursor: pointer;
    }
    .drop-down-menu li:hover {
        color: #fff;
    }
    .drop-down-menu i {
        margin-right: 10px;
    }
    
    .drop-down-menu a:hover {
        color: #fff;
    }
    
    @media only screen and (max-width: 991px) {
        .header-company-logo {min-width: 80px;}  
    }
}